.classselect {
    cursor: pointer;
    border-radius: 5%;
}

.classselect:hover {
    background-color: aliceblue;
}

.selected {
    background-color: aliceblue;
}

.specrow {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 1rem 0;
}

.talent {
    border-radius: 12.5%;
    cursor: pointer;
}

.specheader {
    display: flex; 
    flex-direction: column;
    border-radius: 5%;
    padding: 1rem;
    background-color: #464646;
    color: white;
    margin-bottom: 0.5rem;
}

.selectimg {
    width: 1.75rem;
}

.spectree {
    border-radius: 5px;
    padding: 2rem;
    background-color: #464646;
}

.talentcounter {
    position: absolute;
    bottom: -0.5rem;
    right: -0.5rem;
    background-color: black;
    color: white;
    padding: 0.25rem;
    border-radius: 30%;
    font-size: small;
}

.talentbox {
    position: relative;
}

.specbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warrior {
    color: burlywood;
    border: burlywood 2px solid;
}

.paladin {
    color: gold;
    border: gold 2px solid;
}

.hunter {
    color: darkseagreen;
    border: darkseagreen 2px solid;
}

.rogue {
    color: #f8f849;
    border: #f8f849 2px solid;
}

.priest {
    color: white;
    border: white 2px solid;
}

.shaman {
    color: darkblue;
    border: darkblue 2px solid;
}

.mage {
    color: lightblue;
    border: lightblue 2px solid;
}

.warlock {
    color: violet;
    border: violet 2px solid;
}

.druid {
    color: orange;
    border: orange 2px solid;
}

[popover="auto"] {
  inset: unset;
  position: absolute;
  top: calc(anchor(bottom) + 5px);
  justify-self: anchor-center;
  margin: 0;

  padding: 8px;
  border-radius: 6px;
  background: #464646;
  box-shadow: 1px 1px 3px #999;
  max-width: 20%;
}